<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WhatWannaEat - 今日何食べます？</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="styles/index.css"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">今日何食べます？</h1></div>
    <button class="btn btn-primary btn-lg" id="btn-decide-lunch">なんでもいいっすよｗ</button>
</div>

<script src="scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="scripts/index.js">

</script>
</body>
</html>